*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: sans-serif;
}
h1{
    padding: 20px;
    
}
h3{
    padding-bottom: 20px;
    font-size: 1rem;
}
input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid ;
}
button{
    padding: 5px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: white;
    color: black;
    border: 1px solid;
}
.btn{
    margin-top: 30px;
}
p{
    margin-top: 100px;
}
a{
    text-decoration: none;
    color: black;
}